<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="url:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="firstmodule" frontName="firstmodule">
            <module name="First_Module"/>
        </route>
    </router>
</config>