<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="First_Module::manager" title="Grid Manager" module="First_Module" sortOrder="10" action="grid/grid" resource="First_Module::manager"/>
    </menu>
</config>